pre.app-code {
  overflow: auto;
  margin: 0 0 1rem;
  padding: 0;
  background-color: var(--code-background);
  border-radius: var(--content-border-radius);

  code {
    display: block;
    margin: 0;
    padding: 1rem;
    font-family: monaco, Consolas, monospace;
    font-weight: semibold;
    line-height: 1.5;
    color: var(--code-color);
  }
}
