html {
  height: 100%;
  font-size: 14px;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}
