@use "sass:math";

$primary: #18405b;
$disabled: #7c7c7c;
$grey: #222426;

$lightBlue: #01a8fe;
$skyBlue: #2bd6e2;
$backgroundGray: #f8f8f8;
$fontGray: #4a4a4a;
$boxShadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);

$borderColor: rgba($grey, .15);
$hoverBorder: rgba($grey, 0.35);
$focusBorder: #96c8da;
$borderRadius: math.div(2em, 7);

$inputPadding: math.div(3em, 7)+math.div(1em, 4) 1em;

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
